#preview {
  width:  320;
  height: 426;
  top:    60;
  left:   0;
}

#buttons {
  width:  320;
  height: 82;
  left:   0;
  bottom: 0;
}

#buttons icon {
  color:     darkgray;
  font-size: 60;
  top:       5;
  width:     70;
  height:    70;
}

#buttons icon#contrast   { left: 5;   }
#buttons icon#brightness { left: 80;  }
#buttons icon#exposure   { left: 160; }
#buttons icon#saturation { left: 240; }

#slider-menu {
  width: 320;
  height: 80;
  background: #eee;
  bottom: -80;
}

#slider-menu icon {
  font-size: 40;
  top:       20;
  width:     40;
  height:    40;
  left:      10;
  color:     red;
}

#slider-menu icon#okay {
  right: 10;
  color: green;
}

#slider-menu slider {
  top:   25;
  left:  60;
  width: 200;
}


